<nav class="navbar fixed-top navbar-expand-sm w-100 fw-bold fs-5">
  <div class="container-fluid p-0 m-2">
    <div>
      <div class="d-flex align-items-center">
        <%= link_to tag.i(class: "bi bi-list"),
        "#navbarCollapse",
        class: "navbar-toggler border-0 py-0 px-2 fs-1",
        data: {
          bs_toggle: "collapse",
        } %>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav d-flex">
          <%= link_to t("header.home").html_safe.upcase, root_path, class: "px-3" %>
          <%= link_to t("header.music").html_safe.upcase, music_path, class: "px-3" %>
        </div>
      </div>
    </div>
    <% if @filtered_visits_count.present? %>
      <div class="d-flex visitor-count">
        <%= tag.span "#{t("header.visitor-count").capitalize}:",
                 class: "d-none d-sm-inline mx-1" %>
        <%= tag.i(class: "bi bi-person-raised-hand") %>
        <%= tag.span "#{@filtered_visits_count}" %>
      </div>
    <% end %>
    <div class="d-flex flex-row">
      <div class="px-3 border-2 border-end border-mid-1">
        <% if I18n.locale == :en %>
          <%= link_to "FR", url_for(locale: "fr") %>
        <% else %>
          <%= link_to "EN", url_for(locale: "en") %>
        <% end %>
      </div>
      <%= link_to t("header.about").html_safe.upcase, about_path, class: "px-3" %>
    </div>
  </div>
</nav>
