<nav class="navbar fixed-top w-100">
	<div class="d-flex m-2 w-100 fw-bold fs-5">
		<div class="ps-1 px-2 px-sm-3">
			<%= link_to "HOME", root_path, class: %w[nav-link] %>
		</div>
		<div class="px-2 px-sm-3">
			<%= link_to "MUSIC", music_path, class: %w[nav-link] %>
		</div>
		<div class="flex-grow-1"></div>
		<%# <%= link_to "MERCH", merch_path %1> %>
		<div class="px-2 px-sm-3 border-2 border-end border-mid-1">
			<% if I18n.locale == :en %>
				<%= link_to 'FR', url_for(locale: 'fr') %>
			<% else %>
				<%= link_to 'EN', url_for(locale: 'en') %>
			<% end %>
		</div>
		<div class="pe-1 px-2 px-sm-3">
			<%= link_to "ABOUT", about_path, class: %w[nav-link] %>
		</div>
	</div>
</nav>
