<%= image_tag "templates/SplitBG3.jpg", id: "bg_image", class: "mt-5 mt-sm-0" %>
<div id="spacer", style="height: 650px;"></div>
<%= image_tag "templates/Neon_Logo2.png", id: "floating-logo", class: "mt-5 mt-sm-0" %>
<p class="header m-3 mt-3 mt-sm-5 fs-1">UPCOMING SHOWS</p>
<div class="container.fluid mx-3 mx-sm-5 poster_gallery pictures_gallery">
	<div class="row">
		<div class="col p-0">
			<div class="container">
				<%= image_tag "posters/Globull.jpg", class: "w-100" %>
				<a href="https://www.amongvultures.com/" class="btn btn-dark">LINK</a>
			</div>
		</div>
		<div class="col p-0">
			<div class="container">
				<%= image_tag "posters/Nouveau_Monde.jpg", class: "w-100" %>
				<a href="https://www.amongvultures.com/" class="btn btn-dark">LINK</a>
			</div>
		</div>
	</div>
</div>
<a class="btn btn-outline-primary m-3 mt-5 gallery_collapse" data-bs-toggle="collapse" href="#pastShows" role="button" aria-expanded="false" aria-controls="pastShows">PAST SHOWS</a>
<div class="collapse" id="pastShows">
	<div class="container.fluid m-3 m-sm-5">
		<div class="row">
			<div class="col">
				<%= image_tag "posters/Francos.jpg", class: "w-100 mb-4" %>
				<%= image_tag "posters/Rockies.jpg", class: "w-100 mb-4" %>
				<%= image_tag "posters/Qwertz.jpg", class: "w-100 mb-4" %>
			</div>
			<div class="col">
				<%= image_tag "posters/Abyss.png", class: "w-100 mb-4" %>
				<%= image_tag "posters/MoB.jpg", class: "w-100 mb-4" %>
			</div>
		</div>
	</div>
</div>
<p class="header m-3 mt-5 fs-1">VIDEOS</p>
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6">
			<div class="ratio ratio-16x9 mb-2">
				<iframe src="https://www.youtube.com/embed/iQOOQ7KFmdE?si=MztkAcw3KF377-3T" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="ratio ratio-16x9 mb-2">
				<iframe src="https://www.youtube.com/embed/IOUMo9eb5gw?si=nfyRtDWbEBnBclSi" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<p class="header m-3 mt-5 fs-1">PICTURES</p>
<div class="row mb-5 mx-2 mx-sm-4 pictures_gallery">
	<%= photos_gallery("pictures") %>
</div>
<%# <div style="height: 650px"></div> %>
