<div class="band_member col text-center">
  <%= link_to member[:web_url], target: "_blank" do %>
    <%= image_tag member[:image_path], class: "w-100" %>
  <% end %>
  <%= link_to member[:web_url], class: "text-nowrap", target: "_blank" do %>
    <%= member[:name].capitalize %>
  <% end %>
  <%= tag.span " • #{t("about.role.#{member[:role]}").capitalize}",
           class: "role-class" %>
</div>
