<%= image_tag "about/Neon_friends.jpg", id: "bg_image", style: "top: -500px" %>
<%= image_tag "about/Neon_logo.jpg", id: "floating-logo", class: "mx-3 w-75", style: "margin-top: 100px; mix-blend-mode: lighten;" %>
<div class="container-fluid my-5 px-3 px-sm-5">
	<div class="row">
		<div class="band_member col text-center p-1">
			<a href="https://www.instagram.com/necrom_dp">
				<%= image_tag "about/Diogo.jpg", class: "w-100" %>
			</a>
			<a href="https://www.instagram.com/necrom_dp" class="text-nowrap">Diogo <span class="fw-bold d-none d-sm-inline">POMBEIRO</span></a><p>Guitar</p>
		</div>
		<div class="band_member col text-center p-1">
			<a href="https://www.instagram.com/antbor.s">
				<%= image_tag "about/Antoine.jpg", class: "w-100" %>
			</a>
			<a href="https://www.instagram.com/antbor.s" class="text-nowrap">Antoine <span class="fw-bold d-none d-sm-inline">BORCARD</span></a><p>Bass</p>
		</div>
		<div class="band_member col text-center p-1">
			<a href="https://www.instagram.com/sam_blmn">
				<%= image_tag "about/Samuel3.jpg", class: "w-100" %>
			</a>
			<a href="https://www.instagram.com/sam_blmn" class="text-nowrap">Samuel <span class="fw-bold d-none d-sm-inline">BIELMANN</span></a><p>Vocals</p>
		</div>
		<div class="band_member col text-center p-1">
			<a href="https://www.instagram.com/simd.al08">
				<%= image_tag "about/Simone.jpg", class: "w-100" %>
			</a>
			<a href="https://www.instagram.com/simd.al08" class="text-nowrap">Simone <span class="fw-bold d-none d-sm-inline">DAL MOLIN</span></a><p>Drums</p>
		</div>
		<div class="band_member col text-center p-1">
			<a href="https://www.instagram.com/remi.castella">
				<%= image_tag "about/Rémi.jpg", class: "w-100" %>
			</a>
			<a href="https://www.instagram.com/remi.castella" class="text-nowrap">Rémi <span class="fw-bold d-none d-sm-inline">CASTELLA</span></a><p>Guitar</p>
		</div>
	</div>
</div>
<%= image_tag "about/band.jpg", class: "img-fluid mx-5 mb-5 w-75", id: "band_picture" %>
<p id="band_description" class="w-90 m-3 m-sm-5 mb-5 fs-4 fw-normal">Born in an era of overprocessed music and meaningless art, Synyster tackles societal issues and everyday struggles to the tune of heavy rhythms and melodic solos, bringing a breath of fresh air to the Swiss Metal scene.<br><br>The five friends first set foot on stage in June 2023 at FM Bulle. Soon enough they'd start accumulating experience, writing more complex and heavier songs and performing in front of mightier and bigger stages, aside iconic regional bands.</p>
